---
layout: default
---

<small class="post-date" style="display: block;">Опубликовано: {{ page.date | date: "%-d %B %Y" }}</small>
{% if page.updated %}
<small class="post-date" style="display: block;"> Обновлено: {{ page.updated | date: "%-d %B %Y" }}</small>
{% endif %}
<h1>{{ page.title }}</h1>

<p class="view">Старался {{ page.author | default: site.author | default: site.github.owner_name }}</p>

{{content}}

{% if page.sources %}
  <div class="sources">
  <h5>Источники:</h5>
  {% for source in page.sources %}
  	<small class=""><a href="{{ source }}">{{ source }}</a></small>
  {% endfor %}
  </div>
{% endif %}

{% if page.tags %}
  <div class="tags">
    <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
  </div>
{% endif %}
